.search-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2rem;
}

search-field button{
    margin: 1rem;
    padding: 0.7rem;
}

.searchAuthor {
    margin: 1rem;
    padding: 100rem;
}

.input-wrapper {
    display: flex;
    align-items: center;
    background-color:rgb(255, 255, 255) ;
    height: 2.5rem;
    width: 60%;
    border-radius: 2rem;
    padding: 0 15px;
    box-shadow: 0px 0px 8px #ddd;
    border:1px solid  #542f8f;
    
  }
  
  input {
    margin-top: 10px;
    background-color: transparent;
    height: 100%;
    width: 100%;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    border:4px solid  #59993b;
    border-radius: 25px;
    padding: 1em;
  }
  
  input:focus {
    outline: none;
    border:4px solid  #59993b;
    border-radius: 25px;
    padding: 1em;

  }
  
  #search-icon {
    color: yellowgreen;
  }
  
  
  * {
	box-sizing: border-box;
}


body {
	display: grid;
	grid-template:
		"search" minmax(300px, 50vh)
		"results" minmax(20%, auto)
		/ 1fr;
	margin: 0;
	font: 24px/1.5 system-ui, sans-serif;
}

.search-name{
    width:20px;
    height:5px;
    border: 3px;
    border-radius: 10px;
    background-color: #59993b;
    
}


#search input {
	display: grid;
	display: block;
	grid-area: search;
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 100%;
	background: none;
	padding: 0 30px 0 60px;
	border: none;
	border-radius: 100px;
	font: 24px/1 system-ui, sans-serif;
	outline-offset: -8px;
}


#searchAuthor{
    width:100px;
    color: #ffffff;

    border: 3px solid green;
    border-radius: 10px;
    background-color: #4b922d;
    padding: 0.4rem;
    margin: 1rem 1rem;
    margin-top: 1.2rem;
}
#searchAuthor button:hover{
    border: 3px solid rgb(0, 255, 0);
}


#results {
	grid-area: results;
	background: hsl(0, 0%, 95%);
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;   
}

.quotesforauthor{
    border: 1px solid hsl(84, 76%, 47%);
    border-radius: 1rem;
    margin: 1rem 1.7rem;
    padding: 1rem;
}

.quote-container{
    border: 1px solid hsl(84, 76%, 47%);
    border-radius: 1rem;
    margin: 1rem 1.7rem;
}