@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);

.scrollable-page {
        height: 100vh;
        overflow-y: auto; /* Enable vertical scrolling */
        overflow-x: hidden; /* Disable horizontal scrolling */
        border: black;
        background-color: rgb(248, 248, 248);
        padding: 40px 80px;
  }

  .main-sub{
    border:2px solid  rgb(195, 189, 189);
    padding : 30px 150px;
    background-color: rgb(255, 255, 255);
  }
  .title-div{
    text-align: center;
    color: black;
    font-size: 34px;
    font-weight: bolder;

  }
  
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    /* border: solid 3px black */

  }
  
  .quote-container {
    /* border: 1px solid #cb1808; */
    padding: 20px;
    margin-bottom: 20px;
    width: 55vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  .quote-message {
    margin-bottom: 10px;
    margin-left: 10px;
    border: #0860cb;
    flex-grow: 1
  }

  .quote-button {
    height: 40px;
    width: auto;
    background-color: rgb(70, 70, 204);
    color: white;
    border-radius: 10px;
  }
  

  .quote-container .authorbutton{
    background-color: steelblue;
    justify-content: right;
  }

  .userAdded {
    margin-left: 0.4rem; 
  }

  .addQuoteBtn{
    background-color: #e99b2d;
    color: white;
    border-radius: 5px;
    align-items: center;
  }


/* .search-container{
  display: flex;
  flex-direction: row;
} */

.button-container .search-container{
  display: flex;
  flex-direction: row;
  margin-left: 0;
  padding: 0;
}






/* blockquote */
blockquote{
  font-size: 1em;
  width:60%;
  margin:50px auto;
  font-family:Open Sans;
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid #78C0A8 ;
  line-height:1.6;
  position: relative;
  background:#EDEDED;
}

blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:#78C0A8;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote::after{
  content: '';
}

blockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
  font-size: medium;
}