#root {
  margin: 0 auto;
  text-align: center;
}

body{
background-color:rgb(248, 248, 248);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.input-wrapper {
  display: flex;
  align-items: center;
  background-color:rgb(255, 255, 255) ;
  height: 2.5rem;
  width: 60%;
  border-radius: 2rem;
  padding: 0 15px;
  box-shadow: 0px 0px 8px #ddd;
}

input {
  background-color: transparent;
  height: 100%;
  width: 100%;
  font-size: 1rem;
  color: rgb(0, 0, 0);
  border: none;
}

input:focus {
  outline: none;
  border: none;
}

#search-icon {
  color: yellowgreen;
}


